/* Mixin＆変数 */
@use '../mixin' as mixin;
@use '../setting' as setting;

/* コンテンツ */
.column{
    @include mixin.media(pc){
        display: flex;
        justify-content: space-between;
        .cs_main{
            width: 74%;
        }
        .cs_aside{
            width: 22%;
        }
    }
}
