@use '../global' as g;

/* フッター */
.footer{
    position: sticky;
    top: 100vh;
    width: 100%;
    background-color: g.$color_grey_light;
}

.footer_inner{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
}

.footer_text{
    font-size: g.$font_size_xs;
}