@use '../global' as g;

/*********************************
    ヘッダー
*********************************/

.header{
    &__inner{
        max-width: 1200px;
        margin: 0 auto;
        padding: 10px;
    }
    
    &__title{
        font-size: g.$font_size_xxxxl;
    }
}