@use '../global' as g;

/*********************************
    レイアウト
*********************************/

/* ラッパー */
.wrapper{
}

/* コンテナ */
.container{
    &--bg-gray{
        background-color: g.$color_light;
    }

    &__inner{
        max-width: 1200px;
        margin: 0 auto;
        padding: 40px 0;
    }

    &:first-child &__inner{
        padding: 20px 0 40px;
    }
}