@use '../global' as g;

/* レイアウト */

/* ラッパー */
.wrapper{
}

/* コンテナ */
.container{
    &--bg-gray{
        background-color: g.$color_light;
    }
}   

.container_inner{
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
    .container:first-child &{
        padding: 20px 0 40px;
    }
}