/* Mixin＆変数 */
@use '../mixin' as mixin;
@use '../setting' as setting;

/* ラッパー */
.wrapper{
    @include mixin.media(pc){
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}
