@use '../global' as g;

/*********************************
    note
*********************************/

.note{
    
    .index{
        &--title{
            font-size: 1.4rem;
            font-weight: bold;
        }

        &--first{
            font-size: 1.1rem;
            font-weight: bold;
            margin-top: 20px;
        }
        
        &--second{
            margin-left: 1rem;
        }
        
        &--third{
            margin-left: 2rem;
        }
        
        &--fourth{
            margin-left: 3rem;
        }

        &--link{
            color: g.$color_link-blue;

            &:hover,&:focus {
                opacity: 0.8;
            }
        }
    }

    .index-description {
        font-size: 0.8em;
        color: #666666;
        margin-bottom: 5px;
    }

    .comment{
        display: inline-block;
        font-size: 0.9rem;
        background-color: #fafafa;
        border: 1px solid #aaaaaa;
        border-radius: 4px;
        margin: 5px 0;
        padding: 10px;
        overflow-wrap: break-word;
        word-break: break-word;

        &--second{
            margin-left: 1.5rem;
        }
        
        &--third{
            margin-left: 2.5rem;
        }
        
        &--fourth{
            margin-left: 3.5rem;
        }

        a{
            color: g.$color_link-blue;

            &:hover,&:focus {
                opacity: 0.8;
            }
        }
    }

    .comment__code{
        display: block;
        font-size: 0.9rem;
        background-color: #333333;
        border-radius: 4px;
        padding: 5px 10px;
        color: #ffffff;
        margin-top: 5px;
        margin-bottom: 5px;

        &:first-child{
            margin-top: 0;
        }
        &:last-child{
            margin-bottom: 0;
        }
    }

    .comment__table{
        background-color: #ffffff;
        border-radius: 4px;
        border-spacing: 0;
        border-collapse: separate;
        border-left: 1px solid #aaaaaa;
        border-top: 1px solid #aaaaaa;

        tr>*{
            padding: 5px 10px;
            border: none;
            border-right: 1px solid #aaaaaa;
            border-bottom: 1px solid #aaaaaa;
        }

        tr:first-child>*:first-child{
            border-radius: 4px 0 0 0;
        }

        tr:first-child>*:last-child{
            border-radius: 0 4px 0 0;
        }

        tr:last-child>*:first-child{
            border-radius: 0 0 0 4px;
        }
        
        tr:last-child>*:last-child{
            border-radius: 0 0 4px 0;
        }
    }

    .comment__strong{
        font-weight: normal;
        background:linear-gradient(transparent 60%, #ffff64 60%);
    }
}

/* note_book_javascript_1 */
.note_book_javascript_1{

    .comment{
        &--js-result{
            background-color: #e9e9d9;
        }
    }
        
    input[type="text"]{
        background-color: #ffffff;
        border: 1px solid #aaaaaa;
        border-radius: 4px;
        padding: 0 8px;
    }

    input[type="submit"]{
        background-color: #eeeeee;
        border: 1px solid #aaaaaa;
        border-radius: 4px;
        padding: 0 8px;
        color: #333333;
    }

   .select-box{
        position: relative;

        &::after{
            font-family: 'Font Awesome 6 Free';
            font-weight: 900;
            content: "\f107";  
            position: absolute;
            top: 50%;
            right: 0.5rem;
            transform: translateY(-50%); 
            pointer-events: none;              
        }
    }

    select{
        width: 100%;
        background-color: #ffffff;
        border: 1px solid #aaaaaa;
        border-radius: 4px;
        padding: 0 8px;
        cursor: pointer;
    }

    .js_5-3_agreebtn,.js_5-3_testbtn{
        background-color: #eeeeee;
        border: 1px solid #aaaaaa;
        border-radius: 4px;
        padding: 0 8px;
    }

    .js_5-4_bigimg{
        width: 100%;
        max-width: 300px;
        margin-bottom: 5px;
    }

    .js_5-4_center{

        ul{
            width: 100%;
            max-width: 300px;
            display: flex;
            gap: 5px;
        }

        li{
            cursor: pointer;
        }
    }

    .js_5-5-main_image{
        width: 100%;
        max-width: 300px;
    }

    .js_5-5_toolbar{
        width: 100%;
        max-width: 300px;
        background-color: #333333;
        padding: 5px;
    }

    .js_5-5_nav{
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .js_5-5_prev,.js_5-5_next{
        color: #ffffff;
        cursor: pointer;
    }

    .js_5-5_page{
        color: #ffffff;
    }

    .js_6-3_list{
        display: flex;
        gap: 10px;

        h2{
            font-size: 16px;
            text-align: center;
        }
    }

    .js_6-3_seminur{
        background-color: #ffffff;
        border: 1px solid #23648f;
        padding: 10px;
    }

    .js_6-3_check{
        background-color: #23648f;
        padding: 8px;
        font-size: 12px;
        color: #ffffff;
        text-align: center;
        cursor: pointer;
    }

    .js_6-3_red{
        background-color: #e33a6d;
    }

    .js_6-3_green{
        background-color: #7bc52e;
    }
}