/*********************************
    変数
*********************************/

/* font size */ 
$font_size_xxxxl: 2rem;
$font_size_xxxl: 1.8rem;
$font_size_xxl: 1.6rem;
$font_size_xl: 1.4rem;
$font_size_lg: 1.2rem;
$font_size_md: 1rem;
$font_size_sm: 0.9rem;
$font_size_xs: 0.8rem;
$font_size_xxs: 0.7rem;

/* line height */
$line-height_base: 1.8;

/* letter spacing */
$letter_spacing_base: 0.05em;

/* color */
$color_main: #00d7fb;
$color_black: #222222;
$color_black_light: #333333;
$color_grey: #aaaaaa;
$color_grey_light:#eeeeee;
$color_light: #fafafa;
$color_white: #ffffff;

/* コンテンツ幅 */
$content_width: 1200px;

/* ヘッダー高さ */
$header_height: 3rem;

/* z-index */
$z_index_header: 10;
$z_index_modal: 20;
