@charset "UTF-8";
/*********************************
    外部ファイル
*********************************/
/* web font */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*********************************
    変数
*********************************/
/* font size */
/* line height */
/* letter spacing */
/* color */
/* コンテンツ幅 */
/* サイドバー幅 */
/* ヘッダー高さ */
/* z-index */
/*********************************
    メディアクエリ
*********************************/
/*********************************
    line height space fill
*********************************/ /*********************************
    基本設定
*********************************/
/* html */
html {
  font-size: 100%;
  height: 100%;
}

body {
  font-family: "Noto Sans JP", YuGothic, "Yu Gothic", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
  font-size: 1rem;
  line-height: 1.8;
  letter-spacing: 0.05em;
  color: #333333;
  height: 100%;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
}

/* wrapper */
.wrapper {
  flex: 1;
  padding-top: 3rem;
  position: relative;
}

/*********************************
    ヘルパークラス
*********************************/
/* width */
.w0 {
  width: 0%;
}

.w25 {
  width: 25%;
}

.w50 {
  width: 50%;
}

.w75 {
  width: 75%;
}

.w100 {
  width: 100%;
}

/* height */
.h0 {
  height: 0%;
}

.h25 {
  height: 25%;
}

.h50 {
  height: 50%;
}

.h75 {
  height: 75%;
}

.h100 {
  height: 100%;
}

/* margin */
.m0 {
  margin: 0px;
}

.m5 {
  margin: 5px;
}

.m10 {
  margin: 10px;
}

.m15 {
  margin: 15px;
}

.m20 {
  margin: 20px;
}

.m25 {
  margin: 25px;
}

.m30 {
  margin: 30px;
}

.m35 {
  margin: 35px;
}

.m40 {
  margin: 40px;
}

.m45 {
  margin: 45px;
}

.m50 {
  margin: 50px;
}

.mt0 {
  margin-top: 0px;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mt25 {
  margin-top: 25px;
}

.mt30 {
  margin-top: 30px;
}

.mt35 {
  margin-top: 35px;
}

.mt40 {
  margin-top: 40px;
}

.mt45 {
  margin-top: 45px;
}

.mt50 {
  margin-top: 50px;
}

.mr0 {
  margin-right: 0px;
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

.mr15 {
  margin-right: 15px;
}

.mr20 {
  margin-right: 20px;
}

.mr25 {
  margin-right: 25px;
}

.mr30 {
  margin-right: 30px;
}

.mr35 {
  margin-right: 35px;
}

.mr40 {
  margin-right: 40px;
}

.mr45 {
  margin-right: 45px;
}

.mr50 {
  margin-right: 50px;
}

.mb0 {
  margin-bottom: 0px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb25 {
  margin-bottom: 25px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb35 {
  margin-bottom: 35px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb45 {
  margin-bottom: 45px;
}

.mb50 {
  margin-bottom: 50px;
}

.ml0 {
  margin-left: 0px;
}

.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}

.ml15 {
  margin-left: 15px;
}

.ml20 {
  margin-left: 20px;
}

.ml25 {
  margin-left: 25px;
}

.ml30 {
  margin-left: 30px;
}

.ml35 {
  margin-left: 35px;
}

.ml40 {
  margin-left: 40px;
}

.ml45 {
  margin-left: 45px;
}

.ml50 {
  margin-left: 50px;
}

/* padding */
.p0 {
  padding: 0px;
}

.p5 {
  padding: 5px;
}

.p10 {
  padding: 10px;
}

.p15 {
  padding: 15px;
}

.p20 {
  padding: 20px;
}

.p25 {
  padding: 25px;
}

.p30 {
  padding: 30px;
}

.p35 {
  padding: 35px;
}

.p40 {
  padding: 40px;
}

.p45 {
  padding: 45px;
}

.p50 {
  padding: 50px;
}

.pt0 {
  padding-top: 0px;
}

.pt5 {
  padding-top: 5px;
}

.pt10 {
  padding-top: 10px;
}

.pt15 {
  padding-top: 15px;
}

.pt20 {
  padding-top: 20px;
}

.pt25 {
  padding-top: 25px;
}

.pt30 {
  padding-top: 30px;
}

.pt35 {
  padding-top: 35px;
}

.pt40 {
  padding-top: 40px;
}

.pt45 {
  padding-top: 45px;
}

.pt50 {
  padding-top: 50px;
}

.pr0 {
  padding-right: 0px;
}

.pr5 {
  padding-right: 5px;
}

.pr10 {
  padding-right: 10px;
}

.pr15 {
  padding-right: 15px;
}

.pr20 {
  padding-right: 20px;
}

.pr25 {
  padding-right: 25px;
}

.pr30 {
  padding-right: 30px;
}

.pr35 {
  padding-right: 35px;
}

.pr40 {
  padding-right: 40px;
}

.pr45 {
  padding-right: 45px;
}

.pr50 {
  padding-right: 50px;
}

.pb0 {
  padding-bottom: 0px;
}

.pb5 {
  padding-bottom: 5px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb15 {
  padding-bottom: 15px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb25 {
  padding-bottom: 25px;
}

.pb30 {
  padding-bottom: 30px;
}

.pb35 {
  padding-bottom: 35px;
}

.pb40 {
  padding-bottom: 40px;
}

.pb45 {
  padding-bottom: 45px;
}

.pb50 {
  padding-bottom: 50px;
}

.pl0 {
  padding-left: 0px;
}

.pl5 {
  padding-left: 5px;
}

.pl10 {
  padding-left: 10px;
}

.pl15 {
  padding-left: 15px;
}

.pl20 {
  padding-left: 20px;
}

.pl25 {
  padding-left: 25px;
}

.pl30 {
  padding-left: 30px;
}

.pl35 {
  padding-left: 35px;
}

.pl40 {
  padding-left: 40px;
}

.pl45 {
  padding-left: 45px;
}

.pl50 {
  padding-left: 50px;
}

/*********************************
    ヘッダー
*********************************/
.header {
  position: fixed;
  width: 100%;
  height: 3rem;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.header__title {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1;
}

.header__title-link:hover, .header__title-link:focus {
  opacity: 0.8;
}

/*********************************
    フッター
*********************************/
.footer {
  width: 100%;
  background-color: #eeeeee;
}

.footer__inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.footer__text {
  font-size: 0.875rem;
}

/*********************************
    コンテナ
*********************************/
.container--bg-gray {
  background-color: #fafafa;
}

.container__inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
}

/*********************************
    コンテンツ
*********************************/
.content__inner {
  margin: 0 20px 40px;
}
.content:last-child .content__inner {
  margin-bottom: 0;
}
@media screen and (min-width: 901px) {
  .content__inner--column-left {
    margin-right: 260px;
  }
}

.content__box {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  padding: 40px;
}

.content__header {
  margin-bottom: 40px;
}

/*********************************
    ヘッダーナビゲーション
*********************************/
.header-nav__inner {
  display: flex;
  gap: 10px;
}

.header-nav__link {
  display: block;
  padding: 5px 15px;
  font-weight: bold;
}
.header-nav__link:hover, .header-nav__link:focus {
  opacity: 0.8;
}

/*********************************
    サイドバー
*********************************/
.sidebar {
  display: none;
  position: fixed;
  top: calc(3rem + 40px);
  right: max(20px, (100% - 1200px) / 2 + 20px);
  width: 200px;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 901px) {
  .sidebar {
    display: block;
  }
}

.sidebar__inner {
  padding: 20px;
}

.sidebar__link-wrapper--heading {
  margin: 15px 0 5px;
}
.sidebar__link-wrapper--heading:first-child {
  margin: 0 0 5px;
}
.sidebar__link-wrapper--heading .sidebar__link {
  display: inline-block;
  font-weight: bold;
}
.sidebar__link-wrapper--heading .sidebar__link::after {
  content: "";
  display: block;
  height: 1px;
  width: 6rem;
  background-color: #333333;
}

.sidebar__link:hover, .sidebar__link:focus {
  opacity: 0.8;
}

/*********************************
    ページビジュアル
*********************************/
.page-visual {
  background: linear-gradient(#ffffff, #eeeeee);
}

.page-visual__inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
}

.page-visual__heading {
  padding: 40px 20px;
  text-align: center;
}
@media screen and (min-width: 901px) {
  .page-visual__heading--left {
    margin-right: 260px;
  }
}

/*********************************
    セクション
*********************************/
.section__inner {
  margin-bottom: 40px;
}
.section:last-child .section__inner {
  margin-bottom: 0;
}

.section__header {
  margin-bottom: 20px;
}

/*********************************
    見出し
*********************************/
/* メインビジュアル見出し */
.page-visual-heading {
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}
.page-visual-heading::before, .page-visual-heading::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
}
.page-visual-heading::before {
  margin-top: calc((1 - 1.8) * 0.5em);
}
.page-visual-heading::after {
  margin-bottom: calc((1 - 1.8) * 0.5em);
}
.page-visual-heading::after {
  content: "";
  position: absolute;
  bottom: -20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 8rem;
  height: 4px;
  background-color: #333333;
  border-radius: 100px;
  margin-bottom: 0;
}

/* コンテンツ見出し1 */
.content-heading-first {
  font-size: 1.5rem;
  font-weight: bold;
}
.content-heading-first::before, .content-heading-first::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
}
.content-heading-first::before {
  margin-top: calc((1 - 1.8) * 0.5em);
}
.content-heading-first::after {
  margin-bottom: calc((1 - 1.8) * 0.5em);
}
.content-heading-first::after {
  content: "";
  display: block;
  width: 16rem;
  max-width: 100%;
  height: 2px;
  background-color: #333333;
  border-radius: 100px;
  margin-bottom: 0;
}

/* コンテンツ見出し2 */
.content-heading-second {
  font-size: 1.25rem;
  font-weight: bold;
}
.content-heading-second::before, .content-heading-second::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
}
.content-heading-second::before {
  margin-top: calc((1 - 1.8) * 0.5em);
}
.content-heading-second::after {
  margin-bottom: calc((1 - 1.8) * 0.5em);
}

/* コンテンツ見出し3 */
.content-heading-third {
  font-size: 1.125rem;
  font-weight: bold;
}
.content-heading-third::before, .content-heading-third::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
}
.content-heading-third::before {
  margin-top: calc((1 - 1.8) * 0.5em);
}
.content-heading-third::after {
  margin-bottom: calc((1 - 1.8) * 0.5em);
}

/*********************************
    ボタン
*********************************/
/* ボタン */
.button {
  display: inline-block;
  min-width: 150px;
  padding: 5px 10px;
  background-color: #666666;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: bold;
  text-align: center;
  transition: 0.5s;
}
.button:hover, .button:focus {
  background-color: #eeeeee;
  border-color: currentColor;
  color: #666666;
}
.button--chevron-right {
  position: relative;
  padding-right: 2em;
  padding-left: 1.2em;
}
.button--chevron-right::after {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f054";
  position: absolute;
  top: 50%;
  right: 0.8rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.button--large {
  min-width: 180px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.25rem;
}
.button--red {
  background-color: #a74848;
}
.button--red:hover, .button--red:focus {
  color: #a74848;
}

/* アイコン付き小ボタン */
.before-icon-button {
  display: inline-block;
  padding: 0.2em 0.4em;
  background-color: #ffffff;
  border: 1px solid currentColor;
  border-radius: 2px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  color: #666666;
  transition: 0.5s;
}
.before-icon-button::before {
  display: inline-block;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 0.4em;
}
.before-icon-button:hover, .before-icon-button:focus {
  background-color: #666666;
  border-color: transparent;
  color: #ffffff;
}
.before-icon-button--download::before {
  content: "\f019";
}
.before-icon-button--zoom::before {
  content: "\f00e";
}

/*********************************
    メディア
*********************************/
.media {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 901px) {
  .media {
    flex-direction: row;
  }
}
@media screen and (min-width: 901px) {
  .media--reverse {
    flex-direction: row-reverse;
  }
}

.media__body {
  flex: 1;
}
.media__body > *:last-child {
  margin-bottom: 0;
}

.media__title {
  margin-bottom: 10px;
  font-size: 1.125rem;
  font-weight: bold;
}

.media__text {
  font-size: 0.875rem;
  line-height: 1.6;
}

.media__img-wrapper {
  flex: 0 1 30%;
}

.media__img {
  width: 100%;
}

/*********************************
    カード
*********************************/
/* カード */
.card {
  border: 1px solid #eeeeee;
  border-radius: 8px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.card--link {
  display: block;
  transition: 0.5s;
}
.card--link:hover, .card--link:focus {
  opacity: 0.8;
}
.card--link:hover .card__title, .card--link:hover .card__text, .card--link:focus .card__title, .card--link:focus .card__text {
  text-decoration: underline;
}

.card__img-wrapper {
  position: relative;
  padding-top: 56.25%;
}

.card__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -o-object-fit: cover;
     object-fit: cover;
}

.card__body {
  padding: 20px;
}
.card__body > *:last-child {
  margin-bottom: 0;
}

.card__title {
  margin-bottom: 10px;
  font-size: 1.125rem;
  font-weight: bold;
}

.card__text {
  font-size: 0.875rem;
  line-height: 1.6;
}

.card__badge {
  position: relative;
}
.card__badge::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 0;
  height: 0;
  border-width: 3.75rem 3.75rem 0 0;
  border-style: solid;
  border-color: #a74848 transparent transparent transparent;
}

.card__badge-text {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: 0.3125rem;
  z-index: 2;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: bold;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* カードラッパー */
.cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
@media screen and (min-width: 901px) {
  .cards {
    flex-direction: row;
  }
}
@media screen and (min-width: 901px) {
  .cards--column3 .cards__itme {
    width: calc((100% - 40px) / 3);
  }
}

/*********************************
    テーブル
*********************************/
.table--md-scroll {
  overflow-x: auto;
}
.table--md-scroll .table__header {
  white-space: nowrap;
}
.table--md-scroll .table__text {
  white-space: nowrap;
}
.table--vertical .table__body-row:first-child > * {
  border-top: none;
}
.table--cross .table__header-row:first-child > *:first-child {
  background-color: #ffffff;
  border-top: none;
  border-left: none;
}
.table--cross .table__body-row:first-child > * {
  border-top: none;
}

.table__inner {
  width: 100%;
  background-color: #ffffff;
  border-spacing: 0;
  border-collapse: separate;
}

.table__header-row:first-child > * {
  border-top: 1px solid #aaaaaa;
}

.table__body-row:first-child > * {
  border-top: 1px solid #aaaaaa;
}

.table__header {
  padding: 5px 10px;
  border: none;
  border-right: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
  background-color: #fafafa;
}
.table__header:first-child {
  border-left: 1px solid #aaaaaa;
}
.table__header--md-sticky {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
}

.table__text {
  padding: 5px 10px;
  border: none;
  border-right: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
}
.table__text:first-child {
  border-left: 1px solid #aaaaaa;
}

/*********************************
    ページャー
*********************************/
.pager {
  display: flex;
  overflow-x: auto;
}

.pager__inner {
  display: flex;
  margin: 0 auto;
  gap: 2px;
}

.pager__item:first-child > * {
  border-radius: 4px 0 0 4px;
}
.pager__item:last-child > * {
  border-radius: 0 4px 4px 0;
}

.pager__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #aaaaaa;
  border: 1px solid transparent;
  color: #ffffff;
}
.pager__link:hover, .pager__link:focus {
  background-color: #dddddd;
  border-color: #aaaaaa;
  color: #aaaaaa;
}
.pager__link--active {
  background-color: #ffffff;
  border-color: #aaaaaa;
  color: #aaaaaa;
  pointer-events: none;
}

/*********************************
    タブ
*********************************/
/* タブ */
.tab {
  width: 100%;
}

.tab__header {
  margin-bottom: 5px;
}

.tab__body {
  padding: 20px;
  font-size: 0.875rem;
  line-height: 1.6;
}

/* タブナビゲーション */
.tab-navigation {
  display: flex;
  overflow-x: auto;
}
@media screen and (min-width: 901px) {
  .tab-navigation {
    overflow-x: visible;
  }
}

.tab-navigation__inner {
  display: flex;
  margin: 0 auto;
  row-gap: 10px;
}
@media screen and (min-width: 901px) {
  .tab-navigation__inner {
    flex-wrap: wrap;
    width: 100%;
  }
}

@media screen and (min-width: 901px) {
  .tab-navigation__item {
    width: 25%;
  }
}

.tab-navigation__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 5px 15px;
  border-bottom: 4px solid #aaaaaa;
  line-height: 1.6;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}
.tab-navigation__link:hover, .tab-navigation__link:focus {
  border-bottom-color: #666666;
}
@media screen and (min-width: 901px) {
  .tab-navigation__link {
    white-space: normal;
  }
}
.tab-navigation__link--active {
  border-bottom-color: #333333;
  pointer-events: none;
}

/*********************************
    CTA
*********************************/
.cta-area {
  padding: 20px;
  background-color: #eeeeee;
  border-radius: 4px;
  text-align: center;
}
.cta-area > *:last-child {
  margin-bottom: 0;
}

.cta-area__title {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #aaaaaa;
  font-size: 1.125rem;
  font-weight: bold;
}

.cta-area__text {
  margin-bottom: 5px;
  font-size: 0.875rem;
  line-height: 1.6;
}

.cta-area__link {
  color: #1a0dab;
}
.cta-area__link:hover, .cta-area__link:focus {
  opacity: 0.8;
}
.cta-area__link::after {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f061";
  font-size: 0.8em;
  margin-left: 0.3em;
}

/*********************************
    料金表
*********************************/
/* 料金表 */
.price-box {
  border: 1px solid #eeeeee;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.price-box__header {
  padding: 10px;
  background-color: #666666;
  color: #ffffff;
  text-align: center;
}

.price-box__price {
  font-size: 1.25rem;
  font-weight: bold;
}

.price-box__body {
  padding: 10px;
  font-size: 0.875rem;
  line-height: 1.6;
}
.price-box__body > *:last-child {
  margin-bottom: 0;
}

.price-box__lead {
  margin-bottom: 15px;
}

.price-box__features {
  text-align: center;
}
.price-box__features > *:last-child {
  margin-bottom: 0;
}

.price-box__features-header {
  padding: 5px;
  margin-bottom: 10px;
  background-color: #eeeeee;
}

.price-box__features-text {
  margin-bottom: 15px;
}

/* 料金表ラッパー */
.price-boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
@media screen and (min-width: 901px) {
  .price-boxes {
    flex-direction: row;
  }
}

.price-boxes__item {
  flex: 1;
}

/*********************************
    FAQ
*********************************/
.faq > *:last-child {
  margin-bottom: 0;
}

.faq__row {
  position: relative;
  display: flex;
  min-height: 40px;
  padding-left: 55px;
}
.faq__row--question {
  margin-bottom: 15px;
}
.faq__row--answer {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
}
.faq__row--answer:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.faq__icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}
.faq__icon--question {
  background-color: #7373b0;
}
.faq__icon--answer {
  background-color: #b17474;
}

.faq__question-text {
  padding-top: calc((40px - 1.6rem) / 2);
  line-height: 1.6;
}

.faq__answer-body {
  padding-top: calc((40px - 1.6rem) / 2);
}
.faq__answer-body > *:last-child {
  margin-bottom: 0;
}

.faq__answer-text {
  margin-bottom: 10px;
  font-weight: normal;
  line-height: 1.6;
}

/*********************************
    アコーディオン
*********************************/
.accordion__body + .accordion__title {
  margin-top: 15px;
}

.accordion__button {
  position: relative;
  display: block;
  width: 100%;
  padding: 5px 40px 5px 10px;
  background-color: #eeeeee;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: 0.5s;
}
.accordion__button::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f107";
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.accordion__button:hover, .accordion__button:focus {
  background-color: #aaaaaa;
  color: #ffffff;
}
.accordion__button--active {
  border-radius: 4px 4px 0 0;
}
.accordion__button--active::before {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.accordion__body {
  display: none;
  border: 1px solid #eeeeee;
  border-radius: 0 0 4px 4px;
  padding: 10px;
}
.accordion__body > *:last-child {
  margin-bottom: 0;
}
.accordion__body--active {
  display: block;
}

.accordion__text {
  line-height: 1.6;
  margin-bottom: 10px;
}

/*********************************
    トップページ
*********************************/
.top .top-content {
  height: 100%;
  background: linear-gradient(#ffffff, #dddddd);
}
.top .top-content__inner {
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.top .top-content__button {
  flex: 1;
  min-height: 40vh;
  background-color: #fafafa;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  transition: 0.5s;
}
.top .top-content__button:hover, .top .top-content__button:focus {
  background-color: #aaaaaa;
  color: #ffffff;
}

/*********************************
    ページ目次
*********************************/
@media screen and (min-width: 901px) {
  .page-index .page-link {
    padding: 20px;
  }
}
.page-index .page-link__link {
  position: relative;
  display: block;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.6;
  margin-left: 1.3em;
  margin-bottom: 15px;
}
.page-index .page-link__link::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  top: 0;
  left: -1.3em;
}
.page-index .page-link__link:hover, .page-index .page-link__link:focus {
  opacity: 0.8;
}
.page-index .page-link__link:last-child {
  margin-bottom: 0;
}
.page-index .page-link__link--book::before {
  content: "\f02d";
}
.page-index .page-link__link--file::before {
  content: "\f15c";
}
.page-index .page-link__link i {
  margin: 0.3em;
}

/*********************************
    note
*********************************/
.note .index--title {
  font-size: 1.4rem;
  font-weight: bold;
}
.note .index--first {
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 20px;
}
.note .index--second {
  margin-left: 1rem;
}
.note .index--third {
  margin-left: 2rem;
}
.note .index--fourth {
  margin-left: 3rem;
}
.note .index--link {
  color: #1a0dab;
}
.note .index--link:hover, .note .index--link:focus {
  opacity: 0.8;
}
.note .index-description {
  font-size: 0.8em;
  color: #666666;
  margin-bottom: 5px;
}
.note .comment {
  display: inline-block;
  font-size: 0.9rem;
  background-color: #fafafa;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  margin: 5px 0;
  padding: 10px;
}
.note .comment--second {
  margin-left: 1.5rem;
}
.note .comment--third {
  margin-left: 2.5rem;
}
.note .comment--fourth {
  margin-left: 3.5rem;
}
.note .comment a {
  color: #1a0dab;
}
.note .comment a:hover, .note .comment a:focus {
  opacity: 0.8;
}
.note .comment__code {
  display: block;
  font-size: 0.9rem;
  background-color: #333333;
  border-radius: 4px;
  padding: 5px 10px;
  color: #ffffff;
  margin-top: 5px;
  margin-bottom: 5px;
}
.note .comment__code:first-child {
  margin-top: 0;
}
.note .comment__code:last-child {
  margin-bottom: 0;
}
.note .comment__table {
  background-color: #ffffff;
  border-radius: 4px;
  border-spacing: 0;
  border-collapse: separate;
  border-left: 1px solid #aaaaaa;
  border-top: 1px solid #aaaaaa;
}
.note .comment__table tr > * {
  padding: 5px 10px;
  border: none;
  border-right: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
}
.note .comment__table tr:first-child > *:first-child {
  border-radius: 4px 0 0 0;
}
.note .comment__table tr:first-child > *:last-child {
  border-radius: 0 4px 0 0;
}
.note .comment__table tr:last-child > *:first-child {
  border-radius: 0 0 0 4px;
}
.note .comment__table tr:last-child > *:last-child {
  border-radius: 0 0 4px 0;
}
.note .comment__strong {
  font-weight: normal;
  background: linear-gradient(transparent 60%, #ffff64 60%);
}

/* note_book_javascript_1 */
.note_book_javascript_1 .comment--js-result {
  background-color: #e9e9d9;
}
.note_book_javascript_1 input[type=text] {
  background-color: #ffffff;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  padding: 0 8px;
}
.note_book_javascript_1 input[type=submit] {
  background-color: #eeeeee;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  padding: 0 8px;
  color: #333333;
}
.note_book_javascript_1 .select-box {
  position: relative;
}
.note_book_javascript_1 .select-box::after {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f107";
  position: absolute;
  top: 50%;
  right: 0.5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  pointer-events: none;
}
.note_book_javascript_1 select {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  padding: 0 8px;
  cursor: pointer;
}
.note_book_javascript_1 button {
  background-color: #eeeeee;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  padding: 0 8px;
}
.note_book_javascript_1 .js_5-4_bigimg {
  max-width: 300px;
  margin-bottom: 5px;
}
.note_book_javascript_1 .js_5-4_center ul {
  max-width: 300px;
  display: flex;
  gap: 5px;
}
.note_book_javascript_1 .js_5-4_center li {
  cursor: pointer;
}
.note_book_javascript_1 .js_5-5-main_image {
  max-width: 300px;
}
.note_book_javascript_1 .js_5-5_toolbar {
  width: 100%;
  max-width: 300px;
  background-color: #333333;
  padding: 5px;
}
.note_book_javascript_1 .js_5-5_nav {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.note_book_javascript_1 .js_5-5_prev, .note_book_javascript_1 .js_5-5_next {
  color: #ffffff;
  cursor: pointer;
}
.note_book_javascript_1 .js_5-5_page {
  color: #ffffff;
}
.note_book_javascript_1 .js_6-3_list {
  display: flex;
  gap: 10px;
}
.note_book_javascript_1 .js_6-3_list h2 {
  font-size: 16px;
  text-align: center;
}
.note_book_javascript_1 .js_6-3_seminur {
  background-color: #ffffff;
  border: 1px solid #23648f;
  padding: 10px;
}
.note_book_javascript_1 .js_6-3_check {
  background-color: #23648f;
  padding: 8px;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}
.note_book_javascript_1 .js_6-3_red {
  background-color: #e33a6d;
}
.note_book_javascript_1 .js_6-3_green {
  background-color: #7bc52e;
}

/*********************************
    archive js weather
*********************************/
.archive_js-weather .content__box--blue {
  background-color: #F7F9FB;
}
.archive_js-weather .forecast {
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0;
  color: #333333;
}
.archive_js-weather .forecast__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 32px;
}
.archive_js-weather .forecast__title::after {
  content: "";
  width: 80px;
  height: 8px;
  margin-top: 21px;
  border-radius: 100px;
  background: linear-gradient(to right, #15D6E6, #05A9F4, #005BBE);
}
.archive_js-weather .forecast__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 901px) {
  .archive_js-weather .forecast__content {
    flex-direction: row;
    gap: 16px;
  }
}
.archive_js-weather .forecast__day {
  background-color: #FFFFFF;
  border-radius: 7px;
  overflow: hidden;
}
@media screen and (min-width: 901px) {
  .archive_js-weather .forecast__day--today {
    width: calc(60% - 7px);
  }
}
@media screen and (min-width: 901px) {
  .archive_js-weather .forecast__day--tomorrow {
    width: 40%;
  }
}
.archive_js-weather .forecast__day--week {
  background-color: #F7F9FB;
}
@media screen and (min-width: 901px) {
  .archive_js-weather .forecast__day--week {
    flex: 1;
  }
}
.archive_js-weather .forecast__head {
  padding: 21px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.archive_js-weather .forecast__head--today {
  background-color: #E7F0FC;
  color: #4A90E2;
}
.archive_js-weather .forecast__head--tomorrow {
  background-color: #E4E4E4;
}
.archive_js-weather .forecast__head--week {
  background-color: #E7F0FC;
  color: #4A90E2;
}
.archive_js-weather .forecast__data {
  padding: 24px;
  color: #424242;
}
.archive_js-weather .forecast__condition {
  display: flex;
  justify-content: center;
  font-size: 16px;
}
.archive_js-weather .forecast__image {
  display: flex;
  justify-content: center;
  margin-top: 18px;
}
.archive_js-weather .forecast__temp {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 36px;
}
.archive_js-weather .temp {
  text-align: center;
}
.archive_js-weather .temp--max {
  color: #FF0000;
}
.archive_js-weather .temp--min {
  color: #4A90E2;
}
.archive_js-weather .temp__celsius {
  font-size: 20px;
  font-weight: bold;
}
.archive_js-weather .temp__between {
  font-size: 16px;
  margin-top: 4px;
}
.archive_js-weather .forecast__precip {
  max-width: 360px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 23px;
}
.archive_js-weather .precip {
  text-align: center;
  flex: 1;
  font-size: 16px;
}
.archive_js-weather .precip__volume {
  margin-top: 2px;
}