<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>git_test</title>
  <meta name="description" content="">

  <%- include('parts/_head-elements') %>
  
</head>

<body class="archive archive_js-weather">

  <%- include('parts/_header') %>

  <div class="wrapper">

    <main>

      <div class="container">
        <div class="container__inner">
  
          <artcile class="container__content content">
            <div class="content__inner">
              <div class="content__box content__box--blue">
                
                <div class="forecast">

                  <div class="forecast__title">
                    今日/明日の天気
                  </div>
  
                  <div class="forecast__content">
  
                    <div class="forecast__day forecast__day--today">
                      <div class="forecast__head forecast__head--today">
                        今日の天気
                      </div>
                      <div class="forecast__data">
                        <div class="forecast__condition js_forecast_condition_day1">-</div>
                        <div class="forecast__image">
                          <img class="js_forecast_img_day1" src="img/weather/img_loader.svg">
                        </div>
                        <div class="forecast__temp">
                          <div class="temp">
                            <div class="temp__celsius temp--max js_temp_celsius_max_day1">--℃</div>
                            <div class="temp__between temp--max js_temp_between_max_day1">[-]</div>
                          </div>
                          <div class="temp">
                            <div class="temp__celsius temp--min js_temp_celsius_min_day1">--℃</div>
                            <div class="temp__between temp--min js_temp_between_min_day1">[-]</div>
                          </div>
                        </div>
                        <div class="forecast__precip">
                          <div class="precip precip--head">
                            <div class="precip__time">
                              時間
                            </div>
                            <div class="precip__volume">
                              降水
                            </div>
                          </div>
                          <div class="precip">
                            <div class="precip__time">
                              0-6時
                            </div>
                            <div class="precip__volume js_precip_volume_0-6_day1">--%</div>
                          </div>
                          <div class="precip">
                            <div class="precip__time">
                              6-12時
                            </div>
                            <div class="precip__volume js_precip_volume_6-12_day1">--%</div>
                          </div>
                          <div class="precip">
                            <div class="precip__time">
                              12-18時
                            </div>
                            <div class="precip__volume js_precip_volume_12-18_day1">--%</div>
                          </div>
                          <div class="precip">
                            <div class="precip__time">
                              18-24時
                            </div>
                            <div class="precip__volume js_precip_volume_18-24_day1">--%</div>
                          </div>
                        </div>
                      </div>
                    </div><!-- /.forecast__day -->
  
                    <div class="forecast__day forecast__day--tomorrow">
                      <div class="forecast__head forecast__head--tomorrow">
                        明日の天気
                      </div>
                      <div class="forecast__data">
                        <div class="forecast__condition js_forecast_condition_day2">-</div>
                        <div class="forecast__image">
                          <img class="js_forecast_img_day2" src="img/weather/img_loader.svg">
                        </div>
                        <div class="forecast__temp">
                          <div class="temp">
                            <div class="temp__celsius temp--max js_temp_celsius_max_day2">--℃</div>
                            <div class="temp__between temp--max js_temp_between_max_day2">[-]</div>
                          </div>
                          <div class="temp">
                            <div class="temp__celsius temp--min js_temp_celsius_min_day2">--℃</div>
                            <div class="temp__between temp--min js_temp_between_min_day2">[-]</div>
                          </div>
                        </div>
                        <div class="forecast__precip">
                          <div class="precip precip--head">
                            <div class="precip__time">
                              時間
                            </div>
                            <div class="precip__volume">
                              降水
                            </div>
                          </div>
                          <div class="precip">
                            <div class="precip__time">
                              0-6時
                            </div>
                            <div class="precip__volume js_precip_volume_0-6_day2">--%</div>
                          </div>
                          <div class="precip">
                            <div class="precip__time">
                              6-12時
                            </div>
                            <div class="precip__volume js_precip_volume_6-12_day2">--%</div>
                          </div>
                          <div class="precip">
                            <div class="precip__time">
                              12-18時
                            </div>
                            <div class="precip__volume js_precip_volume_12-18_day2">--%</div>
                          </div>
                          <div class="precip">
                            <div class="precip__time">
                              18-24時
                            </div>
                            <div class="precip__volume js_precip_volume_18-24_day2">--%</div>
                          </div>
                        </div>
                      </div>
                    </div><!-- /.forecast__day -->
  
                  </div><!-- /.forecast__content -->
  
                </div><!-- /.forecast --> 

              </div>
            </div>
          </artcile><!-- /.content -->
    
          <artcile class="container__content content">
            <div class="content__inner">
              <div class="content__box">
                
                <div class="forecast">

                  <div class="forecast__title">
                    今週の天気
                  </div>
  
                  <div class="forecast__content js_forecast_content">
  
                    <div class="forecast__day forecast__day--week">
                      <div class="forecast__head forecast__head--week js_forecast_head_day3">-月-日（-）</div>
                      <div class="forecast__data">
                        <div class="forecast__condition js_forecast_condition_day3">-</div>
                        <div class="forecast__image">
                          <img class="js_forecast_img_day3" src="img/weather/img_loader.svg">
                        </div>
                        <div class="forecast__temp">
                          <div class="temp">
                            <div class="temp__celsius temp--max js_temp_celsius_max_day3">--℃</div>
                            <div class="temp__between temp--max js_temp_between_max_day3">[-]</div>
                          </div>
                          <div class="temp">
                            <div class="temp__celsius temp--min js_temp_celsius_min_day3">--℃</div>
                            <div class="temp__between temp--min js_temp_between_min_day3">[-]</div>
                          </div>
                        </div>
                      </div>
                    </div><!-- /.forecast__day -->
  
                    <div class="forecast__day forecast__day--week">
                      <div class="forecast__head forecast__head--week js_forecast_head_day4">-月-日（-）</div>
                      <div class="forecast__data">
                        <div class="forecast__condition js_forecast_condition_day4">-</div>
                        <div class="forecast__image">
                          <img class="js_forecast_img_day4" src="img/weather/img_loader.svg">
                        </div>
                        <div class="forecast__temp">
                          <div class="temp">
                            <div class="temp__celsius temp--max js_temp_celsius_max_day4">--℃</div>
                            <div class="temp__between temp--max js_temp_between_max_day4">[-]</div>
                          </div>
                          <div class="temp">
                            <div class="temp__celsius temp--min js_temp_celsius_min_day4">--℃</div>
                            <div class="temp__between temp--min js_temp_between_min_day4">[-]</div>
                          </div>
                        </div>
                      </div>
                    </div><!-- /.forecast__day -->
  
                    <div class="forecast__day forecast__day--week">
                      <div class="forecast__head forecast__head--week js_forecast_head_day5">-月-日（-）</div>
                      <div class="forecast__data">
                        <div class="forecast__condition js_forecast_condition_day5">-</div>
                        <div class="forecast__image">
                          <img class="js_forecast_img_day5" src="img/weather/img_loader.svg">
                        </div>
                        <div class="forecast__temp">
                          <div class="temp">
                            <div class="temp__celsius temp--max js_temp_celsius_max_day5">--℃</div>
                            <div class="temp__between temp--max js_temp_between_max_day5">[-]</div>
                          </div>
                          <div class="temp">
                            <div class="temp__celsius temp--min js_temp_celsius_min_day5">--℃</div>
                            <div class="temp__between temp--min js_temp_between_min_day5">[-]</div>
                          </div>
                        </div>
                      </div>
                    </div><!-- /.forecast__day -->
  
                    <div class="forecast__day forecast__day--week">
                      <div class="forecast__head forecast__head--week js_forecast_head_day6">-月-日（-）-</div>
                      <div class="forecast__data">
                        <div class="forecast__condition js_forecast_condition_day6">-</div>
                        <div class="forecast__image">
                          <img class="js_forecast_img_day6" src="img/weather/img_loader.svg">
                        </div>
                        <div class="forecast__temp">
                          <div class="temp">
                            <div class="temp__celsius temp--max js_temp_celsius_max_day6">--℃</div>
                            <div class="temp__between temp--max js_temp_between_max_day6">[-]</div>
                          </div>
                          <div class="temp">
                            <div class="temp__celsius temp--min js_temp_celsius_min_day6">--℃</div>
                            <div class="temp__between temp--min js_temp_between_min_day6">[-]</div>
                          </div>
                        </div>
                      </div>
                    </div><!-- /.forecast__day -->
  
                    <div class="forecast__day forecast__day--week">
                      <div class="forecast__head forecast__head--week js_forecast_head_day7">-月-日（-）</div>
                      <div class="forecast__data">
                        <div class="forecast__condition js_forecast_condition_day7">-</div>
                        <div class="forecast__image">
                          <img class="js_forecast_img_day7" src="img/weather/img_loader.svg">
                        </div>
                        <div class="forecast__temp">
                          <div class="temp">
                            <div class="temp__celsius temp--max js_temp_celsius_max_day7">--℃</div>
                            <div class="temp__between temp--max js_temp_between_max_day7">[-]</div>
                          </div>
                          <div class="temp">
                            <div class="temp__celsius temp--min js_temp_celsius_min_day7">--℃</div>
                            <div class="temp__between temp--min js_temp_between_min_day7">[-]</div>
                          </div>
                        </div>
                      </div>
                    </div><!-- /.forecast__day -->
  
                  </div>
                
                </div><!-- /.forecast -->

              </div>
            </div>
          </artcile><!-- /.content -->

        </div>
      </div><!-- /.container -->

    </main>

  </div><!-- /.wrapper -->

  <%- include('parts/_footer') %>
  
  <%- include('parts/_body-bottom') %>

  <script src="js/weather/weather.js" type="module"></script>

</body>

</html>