<!DOCTYPE html>
<html lang="ja">
<%- include('parts/_head') %>

<body class="top">

  <%- include('parts/_header') %>

  <div class="wrapper">

    <main class="top-content">
      <div class="top-content__inner">
        <a class="top-content__button" href="note.html">note</a>
        <a class="top-content__button" href="archive.html">archive</a>
      </div>
    </main><!-- /.top-content -->

  </div><!-- /.wrapper -->

  <%- include('parts/_footer') %>

  <%- include('parts/_body-bottom') %>

</body>

</html>