@use '../global' as g;

/*********************************
    カラム
*********************************/

.column{
    display: none;
    position: absolute;
    top: calc(g.$header_height + 40px);
    right: max(20px, ( (100% - g.$content_width) / 2) + 20px);
    width: 200px;
    background-color: g.$color_white;
    border: 1px solid g.$color_grey_light;
    border-radius: 4px;
    box-shadow: 0 2px 8px 0 rgba(#000000,0.1);

    @include g.media(pc){
        display: block;
    }
}

.column__inner{
    padding: 20px;
}


.column__link-wrapper{
    &--heading{
        margin: 15px 0 5px;
    
        &:first-child{
            margin: 0 0 5px;
        }
    }
}

.column__link{
    color: g.$color_black_light;

    &:hover,&:focus {
        opacity: 0.8;
    }

    .column__link-wrapper--heading &{
        display: inline-block;
        font-weight: bold;

        &::after{
            content: "";
            display: block;
            height: 1px;
            width: 6rem;
            background-color: g.$color_black_light;
        }

    }
}