@use '../global' as g;

/*********************************
    見出し
*********************************/

.heading{
    
    &--page{
    }
    
    &--content{
        font-size:g.$font_size_xl;
        font-weight: bold;
        
        &::after{
            content: "";
            display: block;
            height: 2px;
            max-width: 12rem;
            background-color: g.$color_black_light;
            border-radius: 100px;
        }
    }
}