@use '../global' as g;

/*********************************
    ヘッダーナビゲーション
*********************************/

.header-nav{
}

.header-nav__inner{
    display: flex;
    gap: 10px;
}

.header-nav__link{
    display: block;
    padding: 5px 15px;
    font-weight: bold;

    &:hover,&:focus {
        opacity: 0.8;
    }
}