@use '../global' as g;

/*********************************
    ページビジュアル
*********************************/

.page-visual{
    background-color: g.$color_grey_light;
}

.page-visual__inner{
    max-width: g.$content_width;
    margin: 0 auto;
    padding: 40px 0;
}

.page-visual__heading{
    display: flex;
    justify-content: center;
    padding: 40px 0;

    &--left{
        @include g.media(pc){
            margin-right:  calc(60px + g.$sidebar_width);
        }
    }
}