@use '../global' as g;

/*********************************
    セクション
*********************************/

.section{
}

.section__inner{
    margin-bottom: 40px;

    .section:last-child &{
        margin-bottom: 0;
    }
}

.section__header{
    margin-bottom: 20px;
}

.section__main{
}