/*********************************
    変数
*********************************/

/* font size */ 
$font-size_xxxxl: 2rem; //32px
$font-size_xxxl: 1.75rem; //28px
$font-size_xxl: 1.5rem; //24px
$font-size_xl: 1.25rem; //20px
$font-size_lg: 1.125rem; //18px
$font-size_md: 1rem; //16px
$font-size_sm: 0.875rem; //14px
$font-size_xs: 0.75rem; //12px
$font-size_xxs: 0.625rem; //10px

/* line height */
$line-height_base: 1.8;
$line-height_low: 1.6;
$line-height_lower: 1.4;

/* letter spacing */
$letter-spacing_base: 0.05em;

/* color */
$color_main: #00d7fb;
$color_black: #222222;
$color_black_light: #333333;
$color_grey_dark: #666666;
$color_grey: #aaaaaa;
$color_grey_light:#eeeeee;
$color_light: #fafafa;
$color_white: #ffffff;
$color_link-blue: #1a0dab;

/* コンテンツ幅 */
$content_width: 1200px;

/* サイドバー幅 */
$sidebar_width: 200px;

/* ヘッダー高さ */
$header_height: 3rem;

/* z-index */
$z-index_pagetop: 10;
$z-index_drawer-overlay: 20;
$z-index_header: 30;
$z-index_modal: 40;
