/* Mixin＆変数 */
@use '../mixin' as mixin;
@use '../setting' as setting;

/* レイアウト */
.layout{
    .header{
        display: flex;
        justify-content: space-between;

        h1{}

        nav{
            ul{
                display: flex;
            }
        }
    }

    .column{
        @include mixin.media(pc){
            display: flex;
            justify-content: space-between;
            .main{
                width: 74%;
            }
            .aside{
                width: 22%;
            }
        }
    }

    .main{}

    .media__inner{}

    .media__body{}

    .media__header{}

    .media__main{}

    .media__footer{}

    .media__figure{}

    .aside{}

    .footer{}

}
