@use '../global' as g;

/*********************************
    基本設定
*********************************/

/* html */
html{
    font-size: 100%;
}

body{
    font-family: 'Noto Sans JP',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
    font-size: g.$font_size_md;
    line-height: g.$line-height_base;
    letter-spacing: g.$letter_spacing_base;
    color: g.$color_black_light;
    min-height: 100vh;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

li{
    list-style: none;
}

/* wrapper */
.wrapper{
    padding-top: g.$header_height;
    position: relative;
}
